<div id="modal-container" class="modal-active one">
  <div class="modal-background">
    <div class="modal">
      <div class="dialog">
        <h1 class="dialog__heading">Sure you want to delete the invitation?</h1>
        <div class="dialog__buttons">
          <button class="dialog__button dialog__button--secondary" (click)="deleteInvitation()">Yes</button>
          <button class="dialog__button dialog__button--primary" (click)="close()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>